* {
    margin: 0;
    padding: 0;
    font-family: Snell Roundhand, cursive;
}

.welcome {
    font-family: Snell Roundhand, cursive;
    font-size: 20px;
}

.main {
    background-color: #ECE1D9;
    width: screenWidth;
    height: screenHeight;
}